

body {
  background: linear-gradient(to bottom, #e0f7fa, #ffffff);
  background-attachment: fixed;
}

.background-pattern {
  background-image: repeating-linear-gradient(
    45deg,
    #e0f7fa 0%,
    #e0f7fa 10%,
    #ffffff 10%,
    #ffffff 20%
  );
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
}



/* Additional styling for responsiveness and effects */
.login-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  border-radius: 16px;
}
